/* FOOTER */
footer
{
    position: fixed;
    bottom: 0;
    background: linear-gradient(#E1D3EE, #CAC9EE);
    z-index: 800;
    height: 40px;
    color: black;
    font-size: 18px;
    width: 100%;
    display: inline-flex;
    left: 0;
    align-items: baseline;
    margin: auto;
    align-content: baseline;
    right: 0;
    padding-left: 0;
}

footer button,
footer .btn
{
    margin: 0px 5px;
    padding: 2px 5px;
    border: none;
    background: transparent;
    color: #000;
}

footer button:hover,
footer .btn:hover
{
    background: #afa7c5!important;
    color: #000!important;
}

footer .alert
{
    padding: .35rem 1.25rem;
    background: none;
    color: black;
}