.game.card {
    width: 100%;
    height: 320px;
    margin: 20px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 20px 18px 20px;
}

.game.card:hover {
    background-color: #45e4ba;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.game.card h1,
.game.card h2,
.game.card h3,
.game.card h4,
.game.card h5,
.game.card h6,
.game.card p,
.game.card .alert {
    color: black;
    text-align: left;
}

.game-link,
.game-link:hover {
    text-decoration: none;
    color: black;
}

.game .description
{
    position: absolute;
    font-size: 16px;
    left: 340px;
    margin-right: 10px;
    top: 55px;
}


.game-mini.card {
    width: 250px;
    height: 350px;
    margin: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 20px 18px 20px;
}

.game-mini.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.game-mini.card h1,
.game-mini.card h2,
.game-mini.card h3,
.game-mini.card h4,
.game-mini.card h5,
.game-mini.card h6,
.game-mini.card p,
.game-mini.card .alert {
    color: black;
}