/* HEADER */
.header
{
    background: linear-gradient(#CAC9EE, #E1D3EE);
    color: black;
    position: fixed;
    top: 0;
    height: 50px;
    width: 101%;
    z-index: 800;
    padding: 2px;
    padding-top: 4px;
    padding-right: 20px;
    margin: auto;
    font-size: 16px;
    vertical-align: middle;
    overflow: hidden;
}

.header button
{
    margin: 2px 4px;
    float: unset;
    background: transparent;
    color: #000;
    border: none;
    max-height: 36px;
    font-weight: bold;
    overflow-y: hidden;
}

.header button:focus,
.header button:active
{
    box-shadow: 0 0 0 0.2rem #00d99d50;
    background-color:#00D99D!important;
    color: black!important;
}

.header button:hover,
.header .btn:hover
{
    background: #afa7c5;
    color: black;
    border: none;
}

.header .title
{
    color: rgb(25, 25, 25);
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin-left: 0;
    padding-left: 10px;
    max-height: 50px;
    overflow: clip;
    text-align: initial;
    word-break: break-all;
}
@media (max-width: 400px)
{
    .header .title {
        width: 320px;
    }
}
@media (max-width: 390px)
{
    .header .title {
        max-width: 180px;
    }
}
.header .btn-row
{
    position: absolute;
    right: 20px;
}

.header .btn-row#main {
    display: initial;
}
.header .btn-row#burger {
    display: none;
}
@media (max-width: 1050px)
{
    .nav-menu {
        display: initial;
    }
    .header .btn-row#main {
        display: none;
    }
    .header .btn-row#burger {
        display: initial;
    }
}
@media (min-width: 1050px)
{
    .nav-menu {
        display: none;
    }
}
.nav-menu
{
    transition-property: right;
    transition-duration: .6s;
    position: fixed;
    top: 50px;
    background: #afa7c5;
    height: calc(100vh - 90px);
    width: 25vw;
}
.nav-menu.closed {
    right: -25vw;
}
.nav-menu.open {
    right: -1px;
}
@media (max-width: 730px)
{
    .nav-menu {
        width: 35vw;
    }
    .nav-menu.closed {
        right: -35vw;
    }
}
@media (max-width: 520px)
{
    .nav-menu {
        width: 45vw;
    }
    .nav-menu.closed {
        right: -45vw;
    }
    .nav-menu button,
    .nav-menu .btn
    {
        margin: 10px 0;
        display: flex!important;
        font: -webkit-small-control;
        font-weight: bold;
        text-align: left;
    }
}
.nav-menu button,
.nav-menu .btn
{
    width: 100%;
    display: block;
    width: -webkit-fill-available;
    text-decoration: underline #afa7c5;
}
.nav-menu button:hover,
.nav-menu .btn:hover
{
    text-decoration: underline #958FA8;
    background: #958FA8;
    color: black;
    border: none;
}
.nav-menu button:focus,
.nav-menu .btn:active
{
    text-decoration: underline #00D99D;
}
.header .svg-inline--fa
{
    min-width: 16px;
    min-height: 16px;
}