.skill.card {
    width: 150px;
    height: 150px;
    margin: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 20px 18px 20px;
}
.skill.card img {
    height: 80px;
    width: 80px;
    align-self: center;
}
@media (max-width: 600px)
{
    .skill.card {
        margin: 6px;
    }
    h5 {
        margin-top: 10px;
        margin-bottom: 1rem;
    }
}
@media (max-width: 370px)
{
    .skill.card {
        height: 100px;
        width: 100px;
        padding: 7px 10px 9px 10px;
        margin: 4px;
    }
    .skill.card img {
        height: 60px;
        width: 60px;
    }
    .skill.card h3 {
        text-wrap: nowrap;
        font-size: 18px!important;
    }
}
.skill.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.skill.card h1,
.skill.card h2,
.skill.card h3,
.skill.card h4,
.skill.card h5,
.skill.card h6,
.skill.card p,
.skill.card .alert {
    color: black;
}

.skill-link,
.skill-link:hover {
    text-decoration: none;
    color: black;
}