/* GENERAL STYLE */
*
{
    cursor: pointer;
    overflow-x: hidden!important;
}

h1, h2, h3, h4, h5, h6, p, .alert
{
    font-family: Futura_Light_Regular;
    letter-spacing: 1px;
    color: white;
}

body
{
    background: grey;
}

a
{
    color: #8becd0;
}

a:hover
{
    color: #45e4ba;
}

.App-header
{
    background: radial-gradient(#414753, #282c34);
}

/* CUSTOM FONTS */

@font-face {
    font-family: Sunscreen_Triline;
    src: local('Sunscreen-Triline'), url("../fonts/Sunscreen-Triline.otf") format("opentype");
}

@font-face {
    font-family: Sunscreen_Unscreened;
    src: local('Sunscreen-Unscreened'), url("../fonts/Sunscreen-Unscreened.otf") format("opentype");
}

@font-face {
    font-family: Futura_Light_Regular;
    src: local('Futura-Light-Regular'), url("../fonts/Futura-Light-Regular.otf") format("opentype");
}

@font-face {
    font-family: Futura_Bold;
    src: local('Futura-Bold'), url("../fonts/Futura-Bold.otf") format("opentype");
}

Button
{
    font-family: Sunscreen_Unscreened;
}

.page
{
    position: absolute;
    width: 100%;
    margin-top: 70px;
    padding-bottom: 60px;
}

.avatar
{
    margin-top: 5vw;
    border-radius: 50%;
    border: 3px white solid;
    outline: 8px grey solid;
    height: 250px;
    width: 250px;
    margin-bottom: 15px;
}

.cover
{
    min-height: 300px;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    top: -150px;
}

#home
{
    text-align: left;
}

@media (max-width: 670px)
{
    #home
    {
        text-align: center;
    }
}